@page
@model siddiq_6thassessment.Pages.order.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.orderid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.orderid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.orderid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
